:root {
  --white: #fff;
  --black: #10101a;
  --black-010: #2a2a30;
  --black-020: #202324;
  --black-030: #181a1b;
  --grey: #9b9ba0;
  --grey-010: #aba499;
  --grey-020: #575e62;
  --grey-030: #454a4d;
  --white-010: #d8d8e9;
  --blue: #4f9aff;
}
